@import 'https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&family=Montserrat&display=swap';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sign-text-inputs {
    @apply transition
    duration-300
    bg-gray-100
    text-gray-900 
    text-[17px] 
    w-full 
    placeholder-gray-400
    rounded-[30px]
    h-[45px]
    px-5
    shadow-md 
    focus:outline-none;
  }

  .tooltip-right-color-controller {
    @apply
    dark:before:text-gray-300 
    before:text-gray-900 
    before:bg-[#ffffff] 
    dark:before:bg-[#0f1011] 
      before:border
    before:border-gray-900 
    dark:before:border-gray-500 
      after:!border-t-transparent 
    dark:after:border-r-gray-500
      after:border-b-transparent 
      after:border-l-transparent
  }

  .tooltip-left-color-controller {
    @apply
    dark:before:text-gray-300 
    before:text-gray-900 
    before:bg-[#ffffff] 
    dark:before:bg-[#0f1011] 
      before:border
    before:border-gray-900 
    dark:before:border-gray-500 
      after:!border-t-transparent
    dark:after:!border-l-gray-400
      after:border-b-transparent 
      after:border-r-transparent
  }
}

html {
  overflow: hidden !important;
}

* {
  font-family: "Ubuntu";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.invert-color {
  filter: invert(100%) sepia(36%) saturate(1130%) hue-rotate(177deg) brightness(100%) contrast(100%) !important;
}
